.center {
 display: block;
 margin-left: auto;
 margin-right:auto;
}

#logo {
  margin-top: 70px;
  width: 40%;
}

.social {
  width: 100px;
  float: left;
  margin-right: 20px;
}

#social-wrapper {
  width: 240px;
}
